@import "_base.css";
@import "_fonts.css";
@import "_colors.css";



* {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

html, body, #app, .card-container, ul{
  margin: 0;
  background: linear-gradient(to right, #d4d3dd, #efefbb)
}

h1 {
  position: sticky;
  color: rgb(104, 70, 10);
  text-align: center;
  background-color: grey;
  border: 1px black solid;
}

#searchBar{
display: flex;
justify-content: center;
flex-direction: row;
height: 2.0rem;
gap: 1rem;
border: 1px black solid;
background-color: grey;
}

footer{
  width: 100vw;
  height: 2rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  border: 1px black solid;
  z-index: 10;
  background-color: grey;
}

#site-search{
  background-color: rgb(83, 83, 165);
}

.btn-search{
  background-color: rgb(83, 83, 165)
}

p{
  color: white;
  font-family: 'Roboto', cursive;
}

.cards{
list-style: none;
display: flex;
flex-wrap: wrap;
align-items: space-between;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
margin: 20px;
padding: 0;
}

img{
  height: 12.5em;
  width: 12.5em;
}

p{
  text-align: center;
}

/* ===== added code ===== */

select{
  display: block;
}

#status-list, #status-list option {
  background-color: white;
}

li{
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.dead {
  background-color: #ef4444;
}

.alive {
  background-color: #65a30d;
}

.unknown {
  background-color: #eab308;
}
/* ===== end added code ===== */
